
@model UserDto

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Hello: @Model.Username</h3>
<text>Username: <b>@Model.Username</b></text>
<br />
<text>Gender: @Model.Gender</text>
<br />